<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="style.css">
		<title>Pokedex</title>
	</head>
	<body>
		<%- include('./partials/header.ejs') %>
		<main>        
			<section id="cards">
				<% pokedex.forEach((pokemon) => { %>
					<div class="card">
						<img src="<%= pokemon.imagem %>" alt="">
						<h2 class="nomePok"><%= pokemon.nome %></h2>
						<p>Tipo: <%= pokemon.tipo %></p>
						<a href="/detalhes/<%=pokemon.id %>">Detalhes</a>
					</div>
				<% }) %>
			</section>
		</main>
		<%- include('./partials/footer.ejs') %>
	</body>
</html>
